absl-py==2.4.0
accelerate==1.14.0
annotated-doc==0.0.4
anyio==4.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.3.0
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.14.3
bidict==0.23.1
bitsandbytes==0.49.2
bleach==6.3.0
bs4==0.0.2
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
cmdstanpy==1.3.0
cmudict==1.1.3
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cryptography==48.0.0
curl_cffi==0.15.0
customized-konlpy==0.0.64
cycler==0.12.1
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
Distance==0.1.3
emoji==1.2.0
et_xmlfile==2.0.0
executing==2.2.1
fastjsonschema==2.21.2
fasttext-wheel==0.9.2
filelock==3.29.0
flatbuffers==25.12.19
fonttools==4.62.1
fqdn==1.5.1
fsspec==2026.4.0
gast==0.7.0
gensim==4.4.0
google-auth==2.53.0
google-auth-oauthlib==1.4.0
google-pasta==0.2.0
grpcio==1.80.0
h11==0.16.0
h5py==3.14.0
hangul-jamo==1.0.1
hf-xet==1.5.1
hgtk==0.2.1
holidays==0.97
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.20.1
idna==3.16
ImageIO==2.37.3
importlib_metadata==9.0.0
importlib_resources==7.1.0
iniconfig==2.3.0
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
jamo==0.4.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jpype1 @ file:///C:/Project/Python_Source/AI01/jpype1-1.7.1-cp311-cp311-win_amd64.whl#sha256=3af59fdbf1798158b01f1a68b7b19ff805a2d18175542434d6aa89e45d5e53b5
json5==0.13.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keras==3.14.1
kiwisolver==1.5.0
kollocate==0.0.2
konlpy==0.6.0
koparadigm==0.10.0
kss==6.0.6
lap==0.5.13
lark==1.3.1
libclang==18.1.1
lxml==6.1.1
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mecab-python @ file:///C:/Project/Python_Source/AI01/mecab_python-0.996_ko_0.9.2_msvc-cp311-cp311-win_amd64.whl#sha256=e4a7dbace7f6c09293b2562ee4caab671595d16d3c6922f9f498f4b1486fa630
mglearn==0.2.0
mistune==3.2.0
ml_dtypes==0.5.4
mpmath==1.3.0
multitasking==0.0.13
namex==0.1.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.4
notebook==7.5.5
notebook_shim==0.2.4
np_utils==0.6.0
numpy==2.4.4
oauthlib==3.3.1
onnx==1.21.0
onnxruntime==1.26.0
onnxslim==0.1.93
opencv-python==4.13.0.92
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.19.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==26.2
pandas==3.0.1
pandocfilters==1.5.1
parso==0.8.6
patsy==1.0.2
pecab==1.0.8
peewee==4.0.6
pillow==12.2.0
platformdirs==4.9.4
pluggy==1.6.0
polars==1.40.1
polars-runtime-32==1.40.1
prometheus_client==0.24.1
prompt_toolkit==3.0.52
prophet==1.3.0
protobuf==7.35.0
psutil==7.2.2
pure_eval==0.2.3
pyarrow==24.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybind11==3.0.4
pycparser==3.0
Pygments==2.19.2
pykospacing @ git+https://github.com/haven-jeon/PyKoSpacing.git@b32a889cbd10b006d2f4aba118f0cd5b677e2979
PyMySQL==1.1.2
pyparsing==3.3.2
PySocks==1.7.1
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.0.0
pytz==2026.2
pywinpty==3.0.3
PyYAML==6.0.3
pyzmq==27.1.0
redis==8.0.1
referencing==0.37.0
regex==2026.5.9
requests==2.34.2
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
rpds-py==0.30.0
safetensors==0.7.0
scikit-learn==1.8.0
scikit-plot==0.3.7
scipy==1.17.1
seaborn==0.13.2
selenium==4.41.0
Send2Trash==2.1.0
shellingham==1.5.4
six==1.17.0
smart_open==7.6.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
soynlp==0.0.493
spotipy==2.26.0
stack-data==0.6.3
stanio==0.5.1
statsmodels==0.14.6
sympy==1.14.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.21.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
terminado==0.18.1
tf_keras==2.21.0
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.22.2
torch==2.8.0+cu129
torchaudio==2.8.0+cu129
torchinfo==1.8.0
torchvision==0.23.0+cu129
tornado==6.5.5
tossi==0.3.1
tqdm==4.67.3
traitlets==5.14.3
transformers==5.12.1
trio==0.33.0
trio-websocket==0.12.2
typer==0.25.1
typing_extensions==4.15.0
tzdata==2025.3
ultralytics==8.4.48
ultralytics-thop==2.0.19
undetected-chromedriver==3.5.5
Unidecode==1.4.0
uri-template==1.3.0
urllib3==2.7.0
wcwidth==0.6.0
webcolors==25.10.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.8
Whoosh==2.7.4
widgetsnbextension==4.0.15
wrapt==1.14.2
wsproto==1.3.2
xgboost==3.2.0
xlrd==1.2.0
yfinance==1.4.0
zipp==4.1.0
